// Margin

.m-none { margin: 0; }
.m-small { margin: $margin-small; }
.m-normal { margin: $margin-normal; }
.m-medium { margin: $margin-medium; }
.m-large { margin: $margin-large; }
.m-xlarge { margin: $margin-xlarge; }
.m-xxlarge { margin: $margin-xxlarge; }

.mt-none  { margin-top: 0; }
.mt-small { margin-top: $margin-small; }
.mt-normal { margin-top: $margin-normal; }
.mt-medium { margin-top: $margin-medium; }
.mt-large { margin-top: $margin-large; }
.mt-xlarge { margin-top: $margin-xlarge; }
.mt-xxlarge{ margin-top: $margin-xxlarge; }

.mr-none  { margin-right: 0; }
.mr-small { margin-right: $margin-small; }
.mr-normal { margin-right: $margin-normal; }
.mr-medium { margin-right: $margin-medium; }
.mr-large { margin-right: $margin-large; }
.mr-xlarge { margin-right: $margin-xlarge; }
.mr-xxlarge{ margin-right: $margin-xxlarge; }

.mb-none  { margin-bottom: 0; }
.mb-small { margin-bottom: $margin-small; }
.mb-normal { margin-bottom: $margin-normal; }
.mb-medium { margin-bottom: $margin-medium; }
.mb-large { margin-bottom: $margin-large; }
.mb-xlarge { margin-bottom: $margin-xlarge; }
.mb-xxlarge{ margin-bottom: $margin-xxlarge; }

.ml-none  { margin-left: 0; }
.ml-small { margin-left: $margin-small; }
.ml-normal { margin-left: $margin-normal; }
.ml-medium { margin-left: $margin-medium; }
.ml-large { margin-left: $margin-large; }
.ml-xlarge { margin-left: $margin-xlarge; }
.ml-xxlarge{ margin-left: $margin-xxlarge; }

// Padding

.p-none  { padding: 0; }
.p-small { padding: $padding-small; }
.p-normal { padding: $padding-normal; }
.p-medium { padding: $padding-medium; }
.p-large { padding: $padding-large; }
.p-xlarge { padding: $padding-xlarge; }
.p-xxlarge { padding: $padding-xxlarge; }

.pt-none  { padding-top: 0; }
.pt-small { padding-top: $padding-small; }
.pt-normal { padding-top: $padding-normal; }
.pt-medium { padding-top: $padding-medium; }
.pt-large { padding-top: $padding-large; }
.pt-xlarge { padding-top: $padding-xlarge; }
.pt-xxlarge{ padding-top: $padding-xxlarge; }

.pr-none  { padding-right: 0; }
.pr-small { padding-right: $padding-small; }
.pr-normal { padding-right: $padding-normal; }
.pr-medium { padding-right: $padding-medium; }
.pr-large { padding-right: $padding-large; }
.pr-xlarge { padding-right: $padding-xlarge; }
.pr-xxlarge{ padding-right: $padding-xxlarge; }

.pb-none  { padding-bottom: 0; }
.pb-small { padding-bottom: $padding-small; }
.pb-normal { padding-bottom: $padding-normal; }
.pb-medium { padding-bottom: $padding-medium; }
.pb-large { padding-bottom: $padding-large; }
.pb-xlarge { padding-bottom: $padding-xlarge; }
.pb-xxlarge{ padding-bottom: $padding-xxlarge; }

.pl-none  { padding-left: 0; }
.pl-small { padding-left: $padding-small; }
.pl-normal { padding-left: $padding-normal; }
.pl-medium { padding-left: $padding-medium; }
.pl-large { padding-left: $padding-large; }
.pl-xlarge { padding-left: $padding-xlarge; }
.pl-xxlarge{ padding-left: $padding-xxlarge; }