code {
  font-family: $mono-font-family;
  background: $color-gray-lightest;
  border-radius: $border-radius;
  white-space: nowrap;
  color: $color-gray-darker;
  font-weight: normal;
}

pre {
  font-family: $mono-font-family;
  background: $color-gray-lightest; 
  border-left: 0.3rem solid  $color-primary;
  overflow-y: hidden;
  margin: 0;
  padding: .5rem 1rem;
  font-size: .9em;
  color: $color-gray-darker;
  font-weight: normal;

  & > code {
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
  }
}
