
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 20rem) {
  .container {
    max-width: $breakpoint-tablet - 4rem;
  }
}

// Tablet, large than phone.
@media screen and (min-width: $breakpoint-tablet) {
  .container {
    max-width: $breakpoint-desktop - 4rem;
  }
}

// Larger than Tablet is Desktop
@media screen and (min-width: $breakpoint-desktop) {
  .container {
    max-width: $breakpoint-wide - 4rem;
  }
}

// Extra large Desktop 24" monitor and up.
@media screen and (min-width: $breakpoint-wide) {
  .container {
    max-width: $breakpoint-ultrawide - 4rem;
  }
}

// Extra wide Desktop 27" or above
@media screen and (min-width: $breakpoint-ultrawide) {
 .container {}
}