.is-flex {
  display: flex;
}

.has-flex-gap {

  > div, button, input, textarea, select, img, ul, ol {

    // margin-right: $spacer;

    // &:last-child {
    //   margin-right: 0;
    // }

    gap: calc($spacer * 4);

  }

}

.is-flex-row {

  display: flex;
  align-items: center;
  flex-flow: row wrap;

  // > div, button, input, textarea, select, img, ul, ol {

  //   margin-right: $spacer;

  //   &:last-child {
  //     margin-right: 0;
  //   }

  // }

}

.is-flex-column {

  display: flex;
  flex-flow: column wrap;

  // > div, button, input, textarea, select, img, ul, ol {

  //   margin-bottom: $spacer;
  //   margin-right: auto; // without this items will stretch full width.

  //   &:last-child {
  //     margin-bottom: 0;
  //   }

  // }

}
